h1 {
	color: #2c3e50;
	text-align: center;
	font-family: Arial;
}

p {
	color: #2c3e50;
	text-align: center;
	font-family: Times;
}

#header {
	width: 100%;
	height: 50px;
	background-color: #2c3e50;
}